[2019-12-31 21:26] weierophinney opened #1 "Feature Request: Add XSLT support"
It would be nice to style generated feeds with a xsl:stylesheet. See the [XSLT entry on Wikipedia](https://en.wikipedia.org/wiki/XSLT) for more general information about this.

I was thinking about adding a header to reference the stylesheet, e.g.

`<?xml-stylesheet title="XSL_formatting" type="text/xsl" href="podcast.xsl"?>`

taken from an [ORF podcast feed](https://www.podcast.de/suche/?q=ORF).

[2019-12-31 21:26] weierophinney commented on #1
An XSLT transformation is usually best applied to the XML feed directly, and not through a third party component or language. XSLT is Turing complete, and also a very good FP language, so I'd suggest digging that way first (by piping the XML directly through CLI XML tools).

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-feed/issues/107#issuecomment-508796131

[2019-12-31 21:26] weierophinney commented on #1
@Ocramius If I understand you correctly than what you are suggesting is not what I want to achieve. I want to make a RSS feed look good in the browser. It should be the feed generated through zend-feed itself without piping it through any extra tools.

---

Originally posted by @podcasthosting at https://github.com/zendframework/zend-feed/issues/107#issuecomment-508803541

[2019-12-31 21:26] weierophinney commented on #1
I'd rather say that you take the RSS feed (input or output) and pass it to XSLT directly: XSLT is good and mature, use it :+1:

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-feed/issues/107#issuecomment-508828919

[2019-12-31 21:26] weierophinney opened #2 "Remove Reader\AbstractEntry, Reader\AbstractFeed, Reader\Collection"
Related to #97

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-feed/issues/103

[2019-12-31 21:26] weierophinney opened #3 "Remove Zend\Writer\Writer::lcfirst method"
Related to #101

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-feed/issues/102

[2019-12-31 21:26] weierophinney opened #4 "An item should not include both author and dc:creator"
- [x] I was not able to find an [open](https://github.com/zendframework/zend-feed/issues?q=is%3Aopen) or [closed](https://github.com/zendframework/zend-feed/issues?q=is%3Aclosed) issue matching what I'm seeing.
 - [x] This is not a question. (Questions should be asked on [slack](https://zendframework.slack.com/) ([Signup for Slack here](https://zendframework-slack.herokuapp.com/)) or our [forums](

[2019-12-31 21:26] weierophinney commented on #4
@glen-84
One option is to remove (deregister) the core extension `DublinCore\Renderer\Feed` from extension manager, but I think there was a problem.

We then have to check as well:

* `source` and `dc:source`
* `category` and `dc:subject`

I will have a deeper look into the code. Thanks for reporting!

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-feed/issues/90#

[2019-12-31 21:26] weierophinney commented on #4
I think we must change the method `Zend\Writer\Writer::registerCoreExtensions`:

[code]

With this change an extension can be removed (deregister):

[code]

@glen-84
Can you test this idea? Thanks in advance!

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-feed/issues/90#issuecomment-469418069

[2019-12-31 21:26] weierophinney commented on #4
@froschdesign,

It does seem to work, but shouldn't this be the default? (i.e. by default it shouldn't include both elements?)

---

Originally posted by @glen-84 at https://github.com/zendframework/zend-feed/issues/90#issuecomment-470854861

[2019-12-31 21:26] weierophinney commented on #4
@glen-84
Thanks for your feedback! I will create a patch for it.

It was implemented in zend-feed before 2012 and I do not know if there was already a recommendation for this elements to that time.
At the current point it is an BC break to change the current behaviour but we need a option to customize it.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-feed/issues

[2019-12-31 21:26] weierophinney opened #5 "Methods of CoreExtensions expected in own writer extension"
Thank you for your writer example, froschdesign. I tested it and am getting an error message. This time I created a separate issue, because it's not related to the documentation ;)

I created an Entry class (`extends Extension\AbstractRenderer`) and registered it in my handler. But the output of my atom feed fails (using the export method). I get the error message:

`call_user_func_array() expects

[2019-12-31 21:26] weierophinney commented on #5
I think that's the same problem as deregistering an extension.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-feed/issues/87#issuecomment-427255982

[2019-12-31 21:26] weierophinney commented on #5
Please look at #90 and [my idea for an improvement](https://github.com/zendframework/zend-feed/issues/90#issuecomment-469418069). I think this should help also for you problem – remove core extension and add a custom extension.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-feed/issues/87#issuecomment-469420000

[2019-12-31 21:26] weierophinney commented on #5
Thank's for the info. Fortunately I kept an old branch with my attempts. I modified the code:

[code]

With the removal of `ITunes\Renderer\Feed` the error `class 'Webfeed\Writer\Feed' does not have a method 'getItunesAuthors'` was fixed and with the removal of `GooglePlayPodcast\Renderer\Feed` the error `class 'Webfeed\Writer\Feed' does not have a method 'getPlayPodcastAuthors'` disappeared. I di

[2019-12-31 21:26] weierophinney commented on #5
@av3
Thanks for the feedback!

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-feed/issues/87#issuecomment-469558277

[2019-12-31 21:26] weierophinney opened #6 "Documentation section bloc Extensions for writers is empty"
- [x] I was not able to find an [open](https://github.com/zendframework/zend-feed/issues?q=is%3Aopen) or [closed](https://github.com/zendframework/zend-feed/issues?q=is%3Aclosed) issue matching what I'm seeing.
 - [x] This is not a question. (Questions should be asked on [slack](https://zendframework.slack.com/) ([Signup for Slack here](https://zendframework-slack.herokuapp.com/)) or our [forums](

[2019-12-31 21:26] weierophinney commented on #6
@gbouyge

This method has been gone since version 2.6.0.

You can use the following:

[code]
or use the class names:
[code]

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-feed/issues/86#issuecomment-411168697

[2019-12-31 21:26] weierophinney opened #7 "No CDATA block in content block of atom feed"
Hello,

I wanted to provide feeds (via the Writer of Zend Feed) with the full content of an article (including some HTML5 markup) and thought to prefer atom over rss. But the writer is acting different and causes some trouble for me.

My code:
[code]

Output for RSS:
[code]

Output for Atom:
[code]

And if I add any image to it in HTML5-Style ```<img src="myimage.jpg"> ``` instead of XHTML-Style `

[2019-12-31 21:26] weierophinney commented on #7
@av3
If you install the [PHP extension "Tidy"](https://secure.php.net/manual/en/class.tidy.php), then zend-feed will be converted your HTML to XHTML.

Example:

[code]

https://github.com/zendframework/zend-feed/blob/b3d847afc0830a0ca7841a8ecc409c175dfea49d/src/Writer/Renderer/Entry/Atom.php#L383-L396

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-feed/issues/82#

[2019-12-31 21:26] weierophinney commented on #7
Thanks for your reply, @froschdesign. With Tidy it's working, even if it's not very beautiful:

[code]

But is this really necessary? Wouldn't it be better to use `$dom->createCDATASection`? Then we wouldn't need tidy to create the content section. Or is there a specific reason why `_setDescription` (of Rss and Atom) creates a CDATA section and `_setContent` does not?

But this would also mean tha

[2019-12-31 21:26] weierophinney commented on #7
Why isn't it beautiful? The generated code works and is correct.

The content of `atom:content` should be suitable for handling as HTML or XHTML - depending on the specified type. Tidy helps us here to meet the specifications.

Right!

Oh, this is a mistake. Thanks for the hint!

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-feed/issues/82#issuecomment-403014209

[2019-12-31 21:26] weierophinney commented on #7
Please have a look at `content:encoded`: http://www.rssboard.org/rss-profile#namespace-elements-content-encoded

zend-feed also provides an extension for this element: [`Zend\Feed\Writer\Extension\Content\Renderer\Entry`](https://github.com/zendframework/zend-feed/blob/master/src/Writer/Extension/Content/Renderer/Entry.php)

The usage of the writer extensions are the same like described for the re

[2019-12-31 21:26] weierophinney commented on #7
Yes, (meanwhile) I know that it's correct with the XHTML. It looks unusual for me and I thought it could be better to provide the content without modification (faster and smaller size), but this isn't important for a feed.

There it says:

and in description it says:

No word about xhtml content, but I know that it's also a valid solution for Atom feeds. But when it says "same manner as the descri

[2019-12-31 21:26] weierophinney commented on #7
Sorry, the topic was Atom and not RSS. My mistake. 🤦‍♂️

See at the specification: https://tools.ietf.org/html/rfc4287#page-14

Maybe tomorrow. I will definitely give feedback.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-feed/issues/82#issuecomment-403802738

[2019-12-31 21:26] weierophinney commented on #7
@av3
An example for registering a writer extension can be found at #86

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-feed/issues/82#issuecomment-411169282

[2019-12-31 21:26] weierophinney opened #8 "Consider using DOMDocument recovery mode"
See stack overflow for details: https://stackoverflow.com/a/9281963/893222

The idea is to handle malformed XML thanks to [recovery option in libxml](http://www.php.net/manual/en/class.domdocument.php#domdocument.props.recover) that is implemented in userland:
[code]

---

Originally posted by @Isinlor at https://github.com/zendframework/zend-feed/issues/73

[2019-12-31 21:26] weierophinney commented on #8
The problem is that false results could lead to subsequent errors in parsing and handling of the entire feed.

Maybe it's an option to inject your own `DOMDocument` or a decorator _clean up / recover_ the feeds before they are parsed by the reader.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-feed/issues/73#issuecomment-427259494

[2019-12-31 21:26] weierophinney commented on #8
You can use the recovery mode yourself:

[code]

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-feed/issues/73#issuecomment-469425625

[2019-12-31 21:26] weierophinney commented on #8
Thanks for help! This is indeed what I ended up doing:
https://gitlab.com/DeepRSS/Reader/blob/3667b1b10c11b9c067de1e3242f15eaf2a1de261/src/Core/Service/ZendReader/FeedParser.php#L35

---

Originally posted by @Isinlor at https://github.com/zendframework/zend-feed/issues/73#issuecomment-469464734

[2019-12-31 21:26] weierophinney commented on #8
@Isinlor
Thanks for the fast response! 👍

Can you provide a link to a feed which is malformed and needs the recovery mode?

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-feed/issues/73#issuecomment-469559951

[2019-12-31 21:26] weierophinney commented on #8
Here is one example: http://itbrokeand.ifixit.com/atom.xml

Code I used for testing:
[code]

---

Originally posted by @Isinlor at https://github.com/zendframework/zend-feed/issues/73#issuecomment-469651536

[2019-12-31 21:26] weierophinney commented on #8
@Isinlor
Perfect, this helps a lot. I collect various problems to create some test scenarios.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-feed/issues/73#issuecomment-469659548

[2019-12-31 21:26] weierophinney commented on #8
I think your initial reaction was correct.

I missed it when I was working on it myself. But indeed, even tough `$dom->recover = true;` seems to work, Zend Feed is not able to handle it correctly.

I'm really curious how Firefox handle it, because I have no issues if I open:
- https://blog.noredink.com/rss
- http://itbrokeand.ifixit.com/atom.xml
- http://aasnova.org/feed/
- https://blog.floydhub.c

[2019-12-31 21:26] weierophinney commented on #8
@Isinlor
I will check all links this evening and will give a feedback.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-feed/issues/73#issuecomment-469670808

[2019-12-31 21:27] weierophinney commented on #8
@Isinlor

## https://blog.noredink.com/rss

There were some problems, but now I have not found anything.

## http://itbrokeand.ifixit.com/atom.xml

Problem is `<title>Web Operations D&D</title>` and therefore not well-formed. Should be reported at ifixit.com. Everything else means ugly replacements.

(Also fails in a browser.)

## http://aasnova.org/feed/

Two problems: 403 and wrong header.

(Als

[2019-12-31 21:27] weierophinney opened #9 "Add functions to get Media (images/videos/audios) from entry description/contents"
Just check now a days feed entries have images/videos/contents can we have few functions to extract that details?

e.g : http://sportbild.bild.de/rss/vw-startseite/vw-startseite-45028186,sort=1,view=rss2.sport.xml

---

Originally posted by @rajjanorkar at https://github.com/zendframework/zend-feed/issues/49

[2019-12-31 21:27] weierophinney commented on #9
@rajjanorkar

You can extend the reader yourself, because zend-feed has a plugin system. Please check the documentation: "[zend-feed – Extending Feed and Entry APIs](https://docs.zendframework.com/zend-feed/reader/#extending-feed-and-entry-apis)".
There will you find an example how to register a new namespace and read the specific elements.
All relevant elements are described here: "[Media RSS Spe

[2019-12-31 21:27] weierophinney commented on #9
Thank you @froschdesign, i am still in learning phase looking forward to contribute to this space.

---

Originally posted by @rajjanorkar at https://github.com/zendframework/zend-feed/issues/49#issuecomment-343651701

[2019-12-31 21:27] weierophinney commented on #9
I'm sorry, the last code example in documentation doesn't work anymore. (See: #44)
Here can you find a workaround: https://github.com/zendframework/zend-feed/issues/54#issuecomment-343411994

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-feed/issues/49#issuecomment-343654096

[2019-12-31 21:27] weierophinney commented on #9
FWIW, MRSS is exactly the extension I've been working with, though I've only looked at thumbnails/images in my implementation. Would be great to have that in core since it seems to be popular and is very useful.

---

Originally posted by @Synchro at https://github.com/zendframework/zend-feed/issues/49#issuecomment-343988171

[2019-12-31 21:27] weierophinney commented on #9
hi @Synchro thats nice, if you dont mind can you share your extension and that will be starting point for others.

---

Originally posted by @rajjanorkar at https://github.com/zendframework/zend-feed/issues/49#issuecomment-344063836

[2019-12-31 21:27] weierophinney commented on #9
A simple workaround [parsing-rss-file-with-zend-2-feed-i-cant-get-media-tag](https://stackoverflow.com/questions/20662622/parsing-rss-file-with-zend-2-feed-i-cant-get-media-tag)

---

Originally posted by @alfredleo at https://github.com/zendframework/zend-feed/issues/49#issuecomment-464663955

[2019-12-31 21:27] weierophinney commented on #9
I will add the support for one of the next minor releases; 2.13 or 2.14. This includes the full Media RSS specification with unit tests and documentation.

Help is always welcome! 😃

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-feed/issues/49#issuecomment-469432296

[2019-12-31 21:27] weierophinney opened #10 "Feature Request: JSON Feed support"
Would be awesome if Zend Feed supported parsing [JSON feeds](https://jsonfeed.org/). Publishing and parsing them is much more straightforward and lightweight compared to RSS and Atom, and adoption is starting to pick up.

---

Originally posted by @brandonkelly at https://github.com/zendframework/zend-feed/issues/42

[2019-12-31 21:27] weierophinney commented on #10
It would be good, but I'm very wary of a month old standard which all but states that Version 1 may be the only version ever needed. Talk about hubris... The problem with these random drop standards, regardless of who writes them, is their isolation/lack of feedback during development. The issue tracker is littered with basic questions, improvements and problems that seem to firmly point to a Vers

[2019-12-31 21:27] weierophinney commented on #10
I think major feedreader support it : feebin.com, inoreader.com etc. not sure how much work needed, but will be great if we add json feed support.

---

Originally posted by @rajjanorkar at https://github.com/zendframework/zend-feed/issues/42#issuecomment-336831837

[2019-12-31 21:27] weierophinney opened #11 "Bug19 mirgration static to dynamic"
original bug: https://github.com/zendframework/zend-feed/issues/19

---

Originally posted by @necromant2005 at https://github.com/zendframework/zend-feed/pull/23

[2019-12-31 21:27] weierophinney opened #12 "Change static interface to dynamic"
I know it may be a bit too complicated due as part of migration to zf3. It makes sense to change static zend-feed interface to dynamic.

[code]

It will break back comparability with version 2.*. But It's necessary changes if we want to have clear, easy management code that can be used in any application without global static variables.

---

Originally posted by @necromant2005 at https://github.c

[2019-12-31 21:27] weierophinney commented on #12
Having done the work to separate the plugin manager and http dependencies, I can attest to the difficulties in testing the compliment currently; static usage makes this quite cumbersome!

If we're going to break BC anyway, I'd argue we should also target PSR-6 interfaces (particularly since with is being done to provide psr-6 compatibility in zend-cache). That particular change would affect also t

[2019-12-31 21:27] weierophinney commented on #12
Thank you Matthew! I'll start migration.

---

Originally posted by @necromant2005 at https://github.com/zendframework/zend-feed/issues/19#issuecomment-183418735

[2019-12-31 21:27] weierophinney commented on #12
Hi Matthew,

I've migrated Zend-Feed reader  https://github.com/necromant2005/zend-feed/tree/BUG19-mirgration-static-tdynamic
tests passed: https://travis-ci.org/necromant2005/zend-feed/builds/110578421

I can merge all changes in one commit, if you prefer.

Cheers,

---

Originally posted by @necromant2005 at https://github.com/zendframework/zend-feed/issues/19#issuecomment-186575157

[2019-12-31 21:27] weierophinney commented on #12
Also it will be great to migrate "writter" because it uses the same weird static plugin manager functionality
    /**
     \* @var ExtensionManagerInterface
     */
    protected static $extensionManager = null;

---

Originally posted by @necromant2005 at https://github.com/zendframework/zend-feed/issues/19#issuecomment-186577445

[2019-12-31 21:27] weierophinney commented on #12
I've also migrated cache interface to PSR-6

---

Originally posted by @necromant2005 at https://github.com/zendframework/zend-feed/issues/19#issuecomment-187020827

[2020-02-14 16:12] benjaminkohl opened #15 "Class 'Laminas\Http\Client' not found"
### Bug Report

I tried to run Reader::import($url) and there appears to be an issue locating a class from within that class.

|    Q        |   A
|------------ | ------
| Version(s)  | 2.12.0

#### Summary
Here is the stack trace. I swapped out the true paths, class names and the URL to protect our client's privacy.

[code]

#### Current behavior

See the stack trace.

#### How to reproduce

I pl

[2020-02-14 16:23] benjaminkohl commented on #15
Disregard. I found my answer _after_ the basic usage code block in the docs. So I installed the laminas/laminas-http package and that works.

[2020-02-14 16:23] #15 closed

[2020-02-14 16:26] froschdesign commented on #15
@benjaminkohl
If you want to import a feed via a URI, you need an HTTP client. Other options for an import are a string and a file therefore the HTTP client is only a _soft_ dependency.
You must install an HTTP client yourself.

Please see also in documentation for this notice:

https://docs.laminas.dev/laminas-feed/reader/#importing-feeds

The "suggest" section in the Composer file also contains

[2020-02-14 16:30] froschdesign commented on #15
But thanks anyway, because your request helps us to rethink the error message and provide better help.

[2020-02-14 16:32] benjaminkohl commented on #15
Yes, thank you. I probably wouldn't have run into this if that block about the HTTP client appeared above  the basic usage code in the documentation.

[2020-02-14 16:42] froschdesign commented on #15
Good point! 👍

Currently I'm working on a description to include laminas-feed in laminas-mvc application. After this I planned a restructuring of the entire component documentation which included a smaller and clearer quick start.

[2020-03-06 16:47] fansanelli opened #16 "Implement custom extensions"
Hello,

I'm trying to build my own Extension like the ones provided in tree.
With this code and I'm able to register it:
[code]
This is my class:
[code]

Unluckily it breaks on render:

[code]
I'm not sure how to set the new property and how make it run without breaking on:

[code]

Any suggestion is welcome.
Many thanks
Cheers
Francesco

[2020-03-06 20:26] froschdesign commented on #16
This repository is only for reporting bugs and suggesting features. For support, please use our [forum](https://discourse.laminas.dev/).
Thanks for your understanding.

Please describe not only your problem, also add the goal of the extension to the forum post. At the moment it looks like you want to add an image link to a feed entry like described in ["Google Merchant Center" for product feeds](h

[2020-03-06 20:26] #16 closed

[2020-03-07 06:59] fansanelli commented on #16
Done... Hope I did well this time:
https://discourse.laminas.dev/t/laminas-atom-feed-with-custom-extension/1416

[2020-06-08 19:09] settermjd opened #18 "Add usage in a Mezzio application for laminas-feed"

[2020-06-19 17:02] Synchro opened #19 "Workaround for blocked Laminas user agent"
Not a bug report, just a workaround!

As per [this issue](https://github.com/laminas/laminas-http/issues/38), some feeds may reject requests from the Laminas Feed client because the user agent string contains backslash characters. This can be worked around by injecting an HTTP client instance with a different user agent before you import a feed, like this:

[code]

[2020-07-17 19:57] #19 closed

[2020-08-18 07:48] OpenHaus opened #20 "itunes:explicit values have changed"
### Bug Report

The values for the itunes:explicit tag on channel and episode level changed to "true/false".

|    Q        |   A
|------------ | ------
| Version(s)  | 2.12.2

#### Summary

According to Apple´s documentation the values for the itunes:explicit tag on channel and episode level are not "yes/clean" anymore but now "true/false".

See: https://help.apple.com/itc/podcasts_connect/#/itcb

[2020-08-18 07:58] froschdesign commented on #20
@OpenHaus
Very good catch! Thanks for reporting the problem. I will create a for it.

[2020-08-18 08:17] froschdesign commented on #10
The problem so far has been that there was no schema which can be used for validation. But now there are schemas for version 1.0 and [1.1](https://www.jsonfeed.org/2020/08/07/json-feed-version.html) of "JSON Feed": https://github.com/sonicdoe/jsonfeed-schema

I already created a prototype for reading a JSON feed but for the writing part we need to split the `Laminas\Feed\Writer\Renderer\RendererIn

[2020-08-18 08:21] froschdesign commented on #1
Example: https://files.orf.at/podcast/oe1/oe1_imoe1journalzugast.xml

[2020-08-18 13:46] #20 closed

[2020-09-05 22:54] aaronbushnell opened #22 "Getting "failed to open stream: No such file or directory in /autoload.php on line 5" when loading package"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.12

#### Summary

I am seeing the following error message when using a stock install via Composer. Here's my composer file.

[code]

And here is my PHP file that autoloads the Composer dependencies:
[code]

I'm seeing this issue in craftcms/cms#6773, but posting it here as it seems to be occurring due to the laminas/lamin

[2020-09-06 11:30] Ocramius commented on #22
What happens if you run `composer dump-autoload` and retry? Same result?

[2020-09-06 12:02] aaronbushnell commented on #22
Same thing, unfortunately! It's very strange. It works just fine locally, but running this on a Digital Ocean box is giving me this particular issue. Both on the exact same version of Composer, too:

[code]

[2020-09-11 13:49] weierophinney commented on #22
I think I found the issue: your Composer version. That's an old one (current versions are 1.10+), and we've occassionally seen issues in the Composer Plugin API with older versions. Run `composer self-update`, then blow away your `composer.lock` file and `vendor/` directory, and run `composer install` and see if that corrects the issue. If so, we can document that further.

(I've also commented on

[2020-09-11 14:20] aaronbushnell commented on #22
@weierophinney Unfortunately it doesn't appear to be my Composer version. I [ran through a handful of tests](https://github.com/craftcms/cms/issues/6773#issuecomment-691122096) in the Craft CMS issue and this happens even on Composer 1.10.10. Happy to help debug/diagnose this further!

[2020-09-19 11:01] froschdesign commented on #22
The problem is unrelated to this component and the original problem is fixed with https://github.com/laminas/laminas-zendframework-bridge/pull/71.

[2020-09-19 11:01] #22 closed, assigned to nobody

[2020-09-24 06:46] froschdesign commented on #1
@podcasthosting
Please try the following example: (based on "[Writer: Getting Started](https://docs.laminas.dev/laminas-feed/writer/#getting-started)")

[code]

Ouput:
[code]

[2020-09-24 08:42] vpashovski opened #23 "Atom Feed can’t read Entry content if type is application/xml"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

I’m trying to get content of Atom Entry where content is with type="application/xml"

In documentation https://validator.w3.org/feed/docs/atom.html#contentElement
content can have type attribute ends in +xml or /xml , then an xml document of this type is contained inline.

I have this xml:
[code]

Wh

[2020-09-30 00:17] andypost opened #24 "Replace usage of deprecated libxml_disable_entity_loader()"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | no
| RFC         | no
| BC Break    | no

#### Summary

`libxml_disable_entity_loader()` is deprecated in PHP 8.0 https://github.com/php/php-src/commit/e0fa48f69dd14b52c8f1b2904ac7bd30472849a8

It's used https://github.com/laminas/laminas-feed/blob/2.13.x/src/Reader/Reader.php

[2020-09-30 01:55] alexpott commented on #24
See #25 - it's not a BC break and it's not a new feature.

[2020-10-04 15:27] boesing opened #26 "Psalm integration"
### Feature Request

|    Q        |   A
|------------ | ------
| QA    | yes

#### Summary

As decided during the [Technical-Steering-Committee Meeting on August 3rd, 2020](https://github.com/laminas/technical-steering-committee/blob/main/meetings/minutes/2020-08-03-TSC-Minutes.md#vote-on-static-analysis-tooling), Laminas wants to implement [vimeo/psalm](https://github.com/vimeo/psalm) in all pac

[2020-10-04 17:43] boesing opened #27 "PHP 8.0 support"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

To be prepared for the december release of PHP 8.0, this repository has some additional TODOs to be tested against the new major version.

In order to make this repository compatible, one has to follow these steps:

- [ ] Modify `composer.json` to provide support for PHP 8.0 by adding the constraint

[2020-10-05 09:31] ocean commented on #26
NB: You'll need to add "hacktoberfest" as a GitHub Topic to your project if you wish to attract Hacktoberfest participants.

[2020-10-05 15:08] boesing commented on #26
@ocean Thanks for the hint.
I am already working on it. Just had prepped this process before they've added all that topic stuff. Thus, we are adding topics maybe this evening (UTC+2) or in the next days.
Will rename the `Hacktoberfest` label to `hacktoberfest-accepted` aswell.

[2020-10-14 13:49] ocean commented on #27
Working on this now in #29

[2020-10-31 20:18] #27 closed, assigned to nobody

[2020-11-01 14:26] andypost commented on #24
Fixed with https://github.com/laminas/laminas-feed/pull/29

[2020-11-01 14:26] #24 closed, assigned to nobody

[2020-11-18 21:00] #26 closed, assigned to nobody

[2020-11-20 11:00] Synchro opened #30 "PHPDoc return types incorrect/outdated"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | dev-master (currently 2.14.x)

#### Summary

Return types declared in phpdocs are often incorrect, probably because they are outdated.

For example, in [laminas-feed/src/Reader/Entry/Rss.php](https://github.com/laminas/laminas-feed/blob/2.14.x/src/Reader/Entry/Rss.php#L278) the `getEnclosure()` method is declared as:

    @

[2020-12-16 10:29] Klaasie opened #32 "Method getDateModified of RSS reader doesn't iterate over different formats"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.13.0

#### Summary

The current code suggest that when retrieving the date modified variable it will attempt to create it from 3 different formats: `RSS`, `RFC822` and `RFC2822`. This doesn't happen because the method used `date_create_from_format` doesn't throw an exception.
This also means that if the format is not reco

[2020-12-16 10:38] froschdesign commented on #32
@Klaasie
Thanks for the issue report, I will check the problem.

[2020-12-24 13:06] froschdesign commented on #30
@Synchro

You are right. In many cases they are completely wrong. See an example in https://github.com/laminas/laminas-feed/pull/33#issuecomment-750874854

We have to rework the entire component with all classes and their interfaces.

[2021-01-04 19:18] weierophinney commented on #32
Fixed with #33.

[2021-01-04 19:18] #32 closed, assigned to froschdesign

[2021-04-01 05:44] jabinb opened #36 "PubSubHubbub/Publisher not sending requests to hubs"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.14.0

#### Summary

It seems like the publishing always fails, and the requests to the hubs are never sent.

#### Current behavior

Calling `$publisher->notifyAll();` results in no requests being sent.

#### How to reproduce

I've created a repository to reproduce the bug here: https://github.com/jabinb/laminas-feed-bug
T

[2021-04-01 19:31] #36 closed, assigned to nobody

[2021-08-23 17:40] podcasthosting opened #41 "Itunes categories with same main category are overwritten"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.14.1

#### Summary

When setting multiple iTunes categories and two or more having the same "main" category the latter are overwritten.

#### Current behavior

[code]

only

[code]

ends up being in the rendered output

#### How to reproduce

Add two categories with the same main category.

#### Expected behavior

I´d exp

[2021-08-24 13:44] froschdesign commented on #41
@podcasthosting

The usage is wrong because the method sets all categories for the feed ~and a second call overwrites all previous categories~. You expect the functionality of a method like `addItunesCategory` but it does not exist.

Use the following:

[code]

[2021-08-24 13:50] podcasthosting commented on #41
But why does it work with categories with a different main category?

[code]

Adds all 3 categories to the feed (as expected). Right now it partly works like an `addItunesCategory` method.

[2021-08-24 14:11] froschdesign commented on #41
@podcasthosting
The method is far from perfect and leads to unexpected behaviour at the moment. A clean and well-defined API is needed to avoid problems like the current one.

And this behaviour is wrong. `setItunesCategories` should set the categories in whole and should overwrite all previous categories.

But at this point, we cannot change the current behaviour because this could break the curr

[2021-08-24 15:08] podcasthosting commented on #41
Thank you for clarification!

[2021-08-24 18:19] froschdesign commented on #41
@podcasthosting
I would leave the issue report open because the API can be improved with the next major version. That's why I had added the milestone.

[2021-09-08 09:50] podcasthosting commented on #41
This actually also does not work:

`$feed->setItunesCategories(['Comedy' => ['Improv', 'Comedy Interviews']]);`

The result is:

[code]

but should be:

[code]

So this is completely broken and a pretty severe bug (from our customers` point of view).

[2021-09-08 10:04] froschdesign commented on #41
@podcasthosting

Can you provide a reference / documentation for this? Thanks in advance! 👍

[2021-09-09 20:10] froschdesign commented on #41
@podcasthosting
Another idea is to use the corresponding XML schemas in the unit tests, so the schemas will also help here.

[2021-10-25 15:49] crscheid opened #43 "Laminas-http mishandles multiple headers causing failure"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.15.0

#### Summary

Header handling in the dependency for laminas/laminas-http has an error when it receives a header that it treats as a single string first followed by an array type header with the same data. Because the header has already been set like a string, the call to set it as an array fails.

I am fully aware t

[2021-10-25 18:50] froschdesign commented on #43
@crscheid

You can already use a PSR-7 client. Example:

[code]
https://docs.laminas.dev/laminas-feed/psr7-clients/

Can you create a test and send it as a pull request? It seems that not all PHP versions are affected.
Thanks in advance! 👍

[2021-10-25 18:51] froschdesign commented on #41
@podcasthosting
Did you find some reference or documentation for this topic?

[2021-10-25 18:52] crscheid commented on #43
@froschdesign: Thanks for the feedback, I will check using PSR-7 ... more than happy to move beyond the deprecated dependency. Once I do so, let me see if this occurs further. If not, I will close this issue. Thank you.

[2021-11-18 17:39] Crell opened #44 "feedLink() is broken, returns invalid data if not found"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  |  2.15

#### Summary

The `getFeedLink()` method is broken and returns invalid data.

#### Current behavior

`getFeedLink()` on an RSS feed falls back to the `Atom\Feed` extension, and calls it's `getFeedLink()` method.

`Atom\Feed::getLink()` first looks for a `<link rel="self" />` element to get a link.  If it finds nothin

[2021-11-18 19:37] froschdesign commented on #44
@Crell
Thanks for reporting!

Unfortunately, I can not reproduce the problem. Can your provide an uni test which illustrates the problem?
Thanks in advance! 👍

[2022-03-24 04:57] zhouhana opened #48 "CRLF in vendor/laminas/laminas-feed/CHANGELOG.md"
The file CHANGELOG.md uses CRLF line endings. When I run a Drupal nstallation with Composer, I always get this warning (no other warnings from any other plugins):

warning: CRLF will be replaced by LF in vendor/laminas/laminas-feed/CHANGELOG.md.

The Composer installation uses 2.15.x but I tested the latest 2.17.x version and it still has CRLF line endings.

I don't know if I should count this as

[2022-03-24 04:59] Ocramius commented on #48
IMO we can just drop `CHANGELOG.md`: please send a patch

[2022-03-24 05:24] zhouhana commented on #48
I don't know how to send a patch. I hope that someone else can do it.

[2022-03-24 10:21] Ocramius commented on #48
Opened https://github.com/laminas/laminas-feed/pull/49

[2022-03-24 10:26] #48 closed, assigned to Ocramius

[2022-03-24 10:27] Ocramius commented on #48
Should be fixed in `2.17.0`

[2022-03-24 10:37] zhouhana commented on #48
Wow, you're quick! Thanks.

[2022-06-10 10:15] alexkuc commented on #9
You can add media objects using `setEnclosure` method on `entry` object. According to [RSS 2.0 specs](https://validator.w3.org/feed/docs/rss2.html):

When setting enclosure, you need to specify `uri` instead of `url`:

[code]

[2022-06-10 10:28] froschdesign commented on #9
@alexkuc
Correct, it is possible to add a [media object via the enclosure element](https://validator.w3.org/feed/docs/rss2.html#ltenclosuregtSubelementOfLtitemgt), but it is recommended to use only one object:

https://www.rssboard.org/rss-profile#element-channel-item-enclosure

---

In the documentation it can be found in the reader section: https://docs.laminas.dev/laminas-feed/reader/#entry-api

[2022-06-10 11:58] alexkuc commented on #9
Thank you for the link, @froschdesign. W3 was unfortunately ambiguous whether you can use more than 1 but your link clears up that nicely. I have left the code here for others in case they face similar dilemma.

@froschdesign is it still necessary to keep this issue open? Seems to me that functionality for adding media objects is already in place

[2022-06-10 12:01] froschdesign commented on #9
In the Media RSS specification you will find a lot more: https://www.rssboard.org/media-rss

[2022-06-10 12:03] alexkuc commented on #9
Ah, I see now:

[2022-06-14 08:20] froschdesign opened #50 "Add code example for feed-writer to add a media object via the enclosure element"
Related to: https://github.com/laminas/laminas-feed/issues/9#issuecomment-1152206654

[2022-07-18 12:00] renovate[bot] opened #54 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/laminas/laminas-feed).

## Awaiting Schedule

The following updates are awaiting their schedule. To get an update now, click on a checkbox below.

[2022-08-07 05:59] rajjanorkar commented on #44
Feed entry link is null for below feed source [fox news]

`getPermalink()` is returning null.

[https://feeds.feedburner.com/foxnews/latest](https://feeds.feedburner.com/foxnews/latest)

[2022-08-07 06:43] Ocramius commented on #44
It should probably return null for all of Fox News 🤣

Jokes apart, we'd need this as an automated test case, in order for it to be fixed.

[2022-08-08 16:11] ErnadoO opened #61 "Error 500 when rendering a feed with some set*() methods"
### BC Break Report

|    Q        |   A
|------------ | ------
| Version     | 2.18.1

#### Summary

Hello,

When I call setItunesEpisode(), i got this errror:

![image](https://user-images.githubusercontent.com/6375756/183459644-817a4ce1-4d44-489f-bd0d-85fca22afb32.png)

Since This [PR](https://github.com/laminas/laminas-feed/pull/57), `declare(strict_types=1);` was added and broke some pieces o

[2022-08-08 17:02] Ocramius commented on #61
Handled in #62

[2022-08-08 17:02] #61 closed, assigned to Ocramius

[2022-08-08 17:07] ErnadoO commented on #61
Thanks